// Fonts
$font-text:           'Roboto', sans-serif;

// Colors
$white:               #FFFFFF;
$gray:                #808080;
$black:               #000000;

// Media queries
$size1:              em(973);
$size2:              em(625);
$size3:              em(500);
